{{#lf-input-wrapper
  errorMessages=errorMessages
  label=label
  labelFor=id
  labelComponent=labelComponent
  errorMessagesComponent=errorMessagesComponent
  showErrorMessages=validationStateVisible
}}
  {{#if hasBlock}}
    <div class="input-group">
      {{#if (eq addonPlacement 'before')}}
        {{yield}}
      {{/if}}
      {{component inputComponent
        id=id
        value=property
        update=(action "valueChanged")
        placeholder=placeholder
        type=type
        disabled=disabled
        readonly=readonly
        autofocus=autofocus
        accept=accept
        autocomplete=autocomplete
        capture=capture
        height=height
        width=width
        inputmode=inputmode
        list=list
        max=max
        maxlength=maxlength
        min=min
        minlenght=minlength
        multiple=multiple
        pattern=pattern
        selectionDirection=selectionDirection
        selectionEnd=selectionEnd
        selectionStart=selectionStart
        spellcheck=spellcheck
        step=step
        tabindex=tabindex
        class=(concat "form-control " inputClass)
      }}
      {{#if (eq addonPlacement 'after')}}
        {{yield}}
      {{/if}}
    </div>
  {{else}}
      {{component inputComponent
        id=id
        value=property
        update=(action "valueChanged")
        placeholder=placeholder
        type=type
        disabled=disabled
        readonly=readonly
        autofocus=autofocus
        accept=accept
        autocomplete=autocomplete
        capture=capture
        height=height
        width=width
        inputmode=inputmode
        list=list
        max=max
        maxlength=maxlength
        min=min
        minlenght=minlength
        multiple=multiple
        pattern=pattern
        selectionDirection=selectionDirection
        selectionEnd=selectionEnd
        selectionStart=selectionStart
        spellcheck=spellcheck
        step=step
        tabindex=tabindex
        class=(concat "form-control " inputClass)
      }}
  {{/if}}
{{/lf-input-wrapper}}
