{{#lf-input-wrapper errorMessages=errorMessages label=label}}
  {{#if hasBlock}}
    <div class="input-group">
      {{yield}}
      <input class="form-control" value={{property}} onkeyup={{action "blur" value="target.value"}} onblur={{action "blur" value="target.value"}} />
    </div>
  {{else}}
      <input class="form-control" value={{property}} onkeyup={{action "blur" value="target.value"}} onblur={{action "blur" value="target.value"}} />
  {{/if}}
{{/lf-input-wrapper}}
