{{#lf-input-wrapper
  label=label
  labelFor=id
  errorMessages=errorMessages
  labelComponent=labelComponent
  errorMessagesComponent=errorMessagesComponent
  showErrorMessages=showErrorMessages
}}
  <select class="form-control" id={{id}} onchange={{action "optionSelected" value="target.value"}}>
    <option value="">{{prompt}}</option>
    {{#each content as |item|}}
      <option value={{get item valuePath}} selected={{eq property (get item valuePath)}}>{{get item labelPath}}</option>
    {{/each}}
  </select>
{{/lf-input-wrapper}}
