{{#lf-input-wrapper label=label errorMessages=errorMessages labelComponent=labelComponent errorMessagesComponent=errorMessagesComponent}}
  <select class="form-control" onchange={{action "optionSelected" value="target.value"}}>
    <option value="">{{prompt}}</option>
    {{#each content as |item|}}
      <option value={{get item valuePath}} selected={{eq property (get item valuePath)}}>{{get item labelPath}}</option>
    {{/each}}
  </select>
{{/lf-input-wrapper}}
