{{#lf-input-wrapper
  label=label
  labelFor=id
  errorMessages=errorMessages
  labelComponent=labelComponent
  errorMessagesComponent=errorMessagesComponent
  showErrorMessages=showErrorMessages
}}
  <select
    class="{{or inputClass 'form-control'}}"
    id={{id}}
    autofocus={{autofocus}}
    disabled={{disabled}}
    multiple={{multiple}}
    tabindex={{tabindex}}
    size={{size}}
    onchange={{action "optionSelected" value="target.value"}}
  >
    <option value="" selected={{eq property null}} disabled>{{prompt}}</option>
    {{#each content as |item|}}
      <option value={{get item valuePath}} selected={{eq property (get item valuePath)}}>{{get item labelPath}}</option>
    {{/each}}
  </select>
{{/lf-input-wrapper}}
