<div class="container">
  <h2 id="title">Welcome to Ember</h2>
  {{#lf-form rules=rules as |validateFunction|}}
    {{lf-input
      label="Name"
      property=model.name
      name="name"
      validate=validateFunction
    }}
    {{lf-input
      label="Phone"
      property=model.phone
      name="phone"
      validate=validateFunction
      on-update=(action (mut model.phone))
    }}
    {{lf-input
      label="E-mail"
      property=model.email
      name="email"
      validate=validateFunction
    }}
    {{lf-textarea
      label="Description"
      property=model.description
      name="description"
      validate=validateFunction
    }}
    {{lf-select
      label="Groups"
      name="groups"
      content=groups
      labelPath="name"
      valuePath="id"
      property=model.group
      validate=validateFunction
    }}
    {{lf-input
      label="Your interests"
      property=model.interests
      name="interests"
      validate=validateFunction
    }}
  {{/lf-form}}
</div>
