<div class="container">
  {{#if formSubmitted}}
    <div class="js-form-submitted-alert alert alert-info">Form submitted!</div>
  {{/if}}
  {{#lf-form rules=rules onSubmit=(action "submit") as |validateFunction formValid|}}
    {{lf-input
      label="Name"
      property=model.name
      name="name"
      validate=validateFunction
      class="js-name"
      on-update=(action (mut model.name))
    }}
    {{lf-input
      label="Email"
      property=model.name
      name="email"
      validate=validateFunction
      class="js-email"
      on-update=(action (mut model.name))
    }}
    {{lf-input
      label="Your interests"
      property=model.interests
      name="interests"
      class="js-interests"
      validate=validateFunction
      on-update=(action (mut model.interests))
    }}
    {{lf-input
      label="Number"
      property=model.number
      name="number"
      class="js-number"
      on-update=(action (mut model.number))
      validate=validateFunction
    }}

    <button class="js-submit btn btn-primary" disabled={{not formValid}}>Submit</button>
  {{/lf-form}}
  <button class="js-clear btn btn-default" {{action "clear"}}>Clear</button>
</div>
